
.radio-button{
-fx-padding: 0 0 0 10;
}

.check-box{

  -fx-background-color: transparent;

-fx-padding:10 0 10 0;
-fx-background-position: center center;
-fx-background-repeat: stretch  ;
  -fx-background-size:40 40 ;

  -fx-background-image: url("file:res/close2.png");

}


.check-box:selected{

-fx-padding: 10 0 10 0;
  -fx-background-color: transparent;
  -fx-background-size:40 40  ;

 -fx-shape: none;
 -fx-background-position: center center;

     -fx-background-repeat:stretch ;


-fx-background-image: url("file:res/open.png");


}
.check-box>.box{

-fx-background-color: transparent;
}

.check-box>.box>.mark{


-fx-background-color: transparent;
}